<h1>Sign in page</h1>

<div class="login">
    <form action="/signIn" id="form" method="POST">
        <h2>Login</h2>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" />
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" />
        <button id="btn" type="submit">Enter</button>
    </form>
</div>

