<h1>Sign Up page</h1>
<div class="registration">
  <form name="registerForm" >
      {{!-- action="/signUp" method="POST" --}}
    <h2>Registration</h2>
    <label for="name">Name:</label>
    <input id="name" type="text" name="name"/>
   
    <label for="email">Email:</label>
    <input id="email" type="email" name="email"/>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password"/>
    <button id="btn" type="submit">Send</button>
  </form>
</div>
  
<script>
  console.log('Hello, Im script')    
  const submitBtn = document.querySelector("#btn");
  submitBtn.addEventListener("click", function (e) {
    e.preventDefault();
    // получаем данные формы
    let registerForm = document.forms["registerForm"];
    let name = registerForm.elements["name"].value;
 
   let email = registerForm.elements["email"].value;
    let password = registerForm.elements["password"].value;
   // сериализуем данные в json
    let user = JSON.stringify({name: name, email: email, password: password});
    console.log(`result JSON is ${user}`)

    let response =  fetch('/signup', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json; charset=utf-8'
      },
      body: user
    });
    //console.log()
    //let result =  response.json();
    //alert(result.message);
    registerForm.elements["name"].value = "";
    registerForm.elements["email"].value = "";
    registerForm.elements["password"].value = ""

  });

</script>
