<h1>Sign Up page</h1>
<div class="registration">
  <form name="registerForm" >
    <h2>Registration</h2>
    <label for="username">Name:</label>
    <input id="username" type="text" name="username"/>
   
    <label for="email">Email:</label>
    <input id="email" type="email" name="email"/>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password"/>
    <button id="signUpBtn" type="submit">Send</button>
  </form>
</div>
  