<h1>Please login )</h1>

<div class="login">
    <form name="loginForm">
        <h2>Login</h2>
        <label for="name">Name:</label>
        <input id="name" type="text" name="username"/>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" />
        <button id="logInBtn" type="submit">Enter</button>
    </form>
</div>

